{% extends 'home/navbar.html' %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock estilos %}

{% block content %}
<main>
    <div class="position-relative overflow-hidden">
        <div class="d-flex min-vh-100" lc-helper="video-bg">
            <video style="z-index:1;object-fit: cover; object-position: 50% 50%;" class="position-absolute w-100 min-vh-100" autoplay="" preload="" muted="" loop="" playsinline="">
                <!-- adjust object-position to tweak cropping on mobile -->
                <source src={% static 'video/biblioteca.mp4'%} type="video/mp4">
            </video>
            <div style="z-index:2" class="align-self-center text-center text-light col-md-8 offset-md-2">
                <div class="lc-block mb-4">
                    <div editable="rich">
                        <h1 class="display-1 fw-bolder">ReadMe</h1>
                    </div>
                </div>
    
                <div class="lc-block">
                    <div editable="rich">
                        <p class="fw-semibold fs-4 text">La plataforma intuitiva para administrar tus libros y préstamos con facilidad.</p>
    
                        <p class="fw-semibold fs-4 text">Diseñada para bibliotecarios, empleados y socios.</p>
    
                    </div>
                </div>
    
                <div class="lc-block">
                    <svg onclick="this.closest('section').nextElementSibling.scrollIntoView({ behavior: 'smooth'  });" width="4em" height="4em" viewBox="0 0 16 16" lc-helper="svg-icon" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"></path>
                    </svg>
    
                    <!-- for Safari support only, remove if you want  -->
                    <script async="" src="https://unpkg.com/smoothscroll-polyfill/dist/smoothscroll.min.js"></script>
    
                </div>
            </div>
        </div>
    </div> 
</main>
{% endblock %}