{% extends 'home/navbar.html' %}

{% block content %}
<div class="container text-center">
    <h1 class="mb-4 text-center">Crear Nuevo Autor</h1>
    <form method="post" class="form-control text-center">
        {% csrf_token %}
        <div class="col-12">
            {{ formularioautor.as_p }}
        </div>
        <button type="submit" class="btn btn-outline-success mt-4">Guardar</button>
    </form>

    <a href=" {% url 'listado_autores' %} "> 
        <button type="button" class="btn btn-outline-dark mt-4">Volver al listado</button>
    </a>
</div>
{% endblock %}