{% extends 'home/navbar.html' %}

{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'styles/list.css' %}">
{% endblock estilos %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center f-color">Listado Socios</h1>
    <div class="row">
        <div class="colum">
            <table border="1" class="table table-striped container mt-2">
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Nombre </th>
                    <th scope="col"> Apellido </th>
                    <th scope="col"> Fecha Nacimiento </th>
                    <th scope="col"> Estado </th>
                    <th scope="col">  </th>
                    <!-- <th scope="col">  </th> -->
                    <th scope="col">  </th>
                </tr>
        
                <!-- MOSTRAR DATOS DE LA BASE DE DATOS EN EL HTML -->
                {% for socio in socios %}
                    <tr>
                        <td> {{socio.id}} </td>
                        <td> {{socio.nombre}} </td>
                        <td> {{socio.apellido}} </td>
                        <td> {{socio.fecha_nacimiento}} </td>
                        <td>
                            {% if socio.activo %}
                                <p>Activo</p>
                            {% else %}
                                <p>Desactivado</p>
                            {% endif%}
                        </td>
    
                        <td>
                            <!-- Boton para modificar --> 
                            <a href=" {% url 'actualizar_socios' socio.id %} ">
                                <button type="button" class="btn btn-warning rounded-pill">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                </button>
                            </a>
                        </td>
                        <td>
                            <!-- Boton para desactivar --> 
                            {% if socio.activo %}
                                <a href="{% url 'desactivar_registro_socio' socio.id %}">
                                    <button type="button" class="btn btn-secondary rounded-pill">
                                        Desactivar
                                    </button>
                                </a>
                            {% else %}
                            <!-- Boton para activar --> 
                                <a href="{% url 'activar_Registro_Socio' socio.id %}">
                                    <button type="button" class="btn btn-success rounded-pill">
                                        Activar
                                    </button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <!-- Mostrar algo si el objeto esta vacio -->
                    {% empty %}
                    <div class="alert alert-danger " role="alert">
                        Sin socios...
                    </div>
                {% endfor %}
            </table>

        </div>
    </div>

    <a class="d-grid gap-2 btn btn-color " href="{% url 'nuevos_Socios' %}">
        Agregar nuevo
    </a>

</div>
{% endblock %}