label{
    font-size: 32px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

input{
    font-size: 30px;
    border-radius: 30px;
}

#id_libro{
    font-size: 20px;
}

#id_activo{
    font-size: 50px;
}

select{
    font-size: 30px;
    border-radius: 30px;
}

.form-control {
    margin: 0;
    padding: 0;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #79470ef1;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(148, 97, 3), rgb(141, 75, 0));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(175, 106, 3, 0.87), rgb(199, 115, 4))
    }