{% extends 'navbar.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock estilos %}

{% block content %}
<main>
    <section class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5 mt-1">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="../static/img/biblioteca-home.jpg" class="mx-lg-auto img-fluid " alt="Imagen de biblioteca" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3 color-blue">ReadMe</h1>
                <p class="lead">La aplicación ReadMe es la herramienta para la gestión eficiente y organizada de tu biblioteca. Diseñada pensando en bibliotecarios y administradores, ReadMe simplifica y automatiza todos los aspectos del proceso de gestión de una biblioteca.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-book btn-lg px-4 me-md-2">Libros</button>
                <button type="button" class="btn btn-partner btn-lg px-4">Socios</button>
                </div>
            </div>
            </div>
    </section>  
</main>
{% endblock %}
